*{
    font-family:"Oswald", sans-serif !important;
  }
  .container{
      background-color:#ffffff;
    }
    .container-fluid{
      background-color:#ffffff;  
    }
  .jumbotron{
    background: url("https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
    background-repeat:no-repeat;
      background-size:cover;
      background-position:top center;
      color:white;
      font-size:30%;
  
  }
    
  /* .jumbotron{
    background:linear-gradient(rgba (0,151,125,.6),
  rgba (219,78,216,.9)),
  url("https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
      background-repeat:no-repeat;
      background-size:cover;
      background-position:center center;
      color:white;
      font-siz:30%;
  }
  section{
    background-color:#ebd8bc;
  }
     */